<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Desbloqueo de Homoplatos</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">Colócate de pie con las piernas ligeramente abiertas a la anchura de 
                las caderas. Entrelaza los dedos y gira las palmas de las manos hacia delante con 
                los brazos extendidos.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">Estíralos hacia delante hasta sentir que se mueven las escápulas y 
                se curva la zona de las vértebras dorsales. Mantén la posición 10 segundos y 
                repite 3 veces.</label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej10.jpg">
          </p>
        </form>
      </div>
    </main>  
      
</body>
</html>