<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Reduce molestias al despertarte</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">Cruza los dedos detrás de la cabeza, acerca los codos hasta que 
                queden en paralelo y lleva la barbilla hacia el pecho acompañando el movimiento 
                con las manos. Mantén l</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">Debes sentir cómo se estiran los músculos posteriores del cuello. 
                Puedes notar cierta tensión en las dorsales e incluso en las lumbares.</label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej12.jpg">
          </p>
        </form>
      </div>
    </main>  
      
</body>
</html>