<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Rodillas flexionadas sobre el pecho</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">1. Acuéstese de espalda con las rodillas flexionadas y los pies apoyados en el piso.</label>
          </div>
          <div class="form-group">
            <label for="Paso2">2. Lleve una rodilla hacia el pecho y luego la otra. No las levante juntas.</label>
          </div>
          <div class="form-group">
            <label for="Paso3">3. Mantenga de 15 a 30 segundos.</label>
          </div>
          <div class="form-group">
            <label for="Paso3">4. Relájese y baje las piernas (una a la vez) al piso.</label>
          </div>
          <div class="form-group">
            <label for="Paso3">5. Descanse 30 segundos.</label>
          </div>
          <div class="form-group">
            <label for="Paso3">6. Repita de 2 a 4 veces.</label>
          </div>
        </form>
      </div>
      <p class="Fig1">
        <img src="/static/Ej13.jpg">
      </p>
    </main>  
      
</body>
</html>