<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Ejercicio de rotación externa de la cadera</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">1. Acuéstese de lado con los pies y las rodillas juntos y con las rodillas flexionadas.</label>
          </div>
          <div class="form-group">
            <label for="Paso2">2. Levante la pierna de arriba manteniendo los pies juntos. No deje que las caderas giren para atrás.</label>
          </div>
          <div class="form-group">
            <label for="Paso3">3. Mantenga 6 segundos.</label>
          </div>
        <div class="form-group">
          <label for="Paso2">4. Baje la pierna lentamente a la posición inicial. Descanse por hasta 10 segundos.</label>
        </div>
        <div class="form-group">
          <label for="Paso3">5. Repita de 8 a 12 veces.</label>
        </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
        </form>
      </div>
      <p class="Fig1">
        <img src="/static/Ej14.jpg">
      </p>
    </main>  
      
</body>
</html>