<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Balanceo pélvico, sentada</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">1. Siéntese en una posición neutral y cómoda, con los pies apoyados en el piso y con las nalgas cerca del borde del asiento.</label>
          </div>
          <div class="form-group">
            <label for="Paso2">2. Gire los hombros suavemente hacia adelante. Sienta que el peso se mueve hacia atrás sobre los "huesos de asiento" (isquiones).</label>
          </div>
          <div class="form-group">
            <label for="Paso3">3. Ahora enderécese lentamente, girando las caderas y la parte lumbar (la parte baja de la espalda) hacia adelante mientras mueve los hombros hacia atrás.</label>
          </div>
          <div class="form-group">
            <label for="Paso4">4. Repita de 8 a 12 veces, meciendo suavemente la pelvis hacia adelante y hacia atrás.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
        </form>
      </div>
      <p class="Fig1">
        <img src="/static/Ej15.jpg">
      </p>
    </main>  
      
</body>
</html>