<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Levantar la pierna en dirección lateral.</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">El objetivo es hacer esto con las manos libres. 
              Pero se pueden apoyar las manos en el respaldo de la silla para hacerlo más 
              fácil al inicio del ejercicio.</label>
          </div>
          <div class="form-group">
            <label for="Paso1">1. Poner el peso del cuerpo sobre una pierna, con la rodilla recta.</label>
          </div>
          <div class="form-group">
            <label for="Paso1">2. Lentamente levantar el otro pie del suelo llevando la pierna 
              hacia el lado y mantener el equilibrio en la pierna de apoyo. Mantener esta 
              posición durante 20 segundos.</label>
          </div>
          <div class="form-group">
            <label for="Paso1">Realizar 2 veces y luego cambiar de pierna.</label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej18.jpg">
          </p>
        </form>
      </div>
    </main>  
      
</body>
</html>