<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Potenciación</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">Posición de partida, decúbito supino, manos detrás de la nuca, 
              piernas flexionadas con un pie sobre la rodilla del lado contrario (foto 1). 
              Iniciaremos el ejercicio dirigiendo el codo del lado opuesto hacia la rodilla 
              flexionada con el pie sobre la rodilla (foto 2). Debemos intentar mantener la 
              perpendicularidad de los codos con el eje del cuerpo para que el ejercicio esté bien 
              realizado, se finaliza el ejercicio con la vuelta a la posición inicial.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
        </form>
      </div>
      <p class="Fig1">
        <img src="/static/Ej19.jpg">
      </p>
    </main>  
      
</body>
</html>