<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Deslordosante</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">(foto 1) Posición de partida en decúbito supino. Iniciaremos el 
              ejercicio despegando la región glútea de la colchoneta sin levantar la zona lumbar 
              de ella (foto 2); nos mantendremos en esta posición durante 3 segundos volviendo luego 
              a la posición inicial.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
        </form>
      </div>
      <p class="Fig1">
        <img src="/static/Ej21.jpg">
      </p>
    </main>  
      
</body>
</html>