<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Circulos con el brazo</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">El primer ejercicio se realiza con el cuerpo flexionado y el tronco paralelo 
                al suelo. Se deja el brazo afectado colgando como un péndulo y se hacen círculos con suavidad. 
                Al principio pequeños y después más grandes.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej4_1.jpg">
          </p>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <h1>Empuje sobre el codo</h1>
          <div class="form-group">
            <label for="Paso1">La palma de la mano del brazo afectado se pone sobre el hombro opuesto. 
                Con el brazo no afectado se empuja el codo y se mantiene presionado durante unos segundos 
                hasta donde se pueda.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej4_2.jpg">
          </p>
        </form>
      </div>
    </main>  
      
</body>
</html>