<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body{
        background-image: url('/static/Ejercicios.jpg');
        background-size: 100%;
      }
      p.Fig1{
        text-align: center;
      }
    </style>

</head>
<body>
    <main>
    <div class="container">
        <h1>Toalla sobre el brazo</h1>
        <form>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <div class="form-group">
            <label for="Paso1">El dorso de la mano del brazo dolorido se posiciona tocando la espalda. 
                Con esa mano se coge un extremo de una toalla, mientras con la otra mano, situada 
                por detrás de la cabeza, se agarra el otro. Con la mano de arriba se tira suavemente 
                de la toalla hacia arriba, haciendo que el brazo afectado suba.</label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej6_1.jpg">
          </p>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <h1>Mano por la espalda</h1>
          <div class="form-group">
            <label for="Paso1">Con la mano tocando la cintura por detrás y la palma dirigida hacia 
                la espalda, hay que intentar levantar la mano hasta donde se pueda, siempre tocando 
                la espalda. </label>
          </div>
          <div class="form-group">
            <label for="Space"></label>
          </div>
          <p class="Fig1">
            <img src="/static/Ej6_2.jpg">
          </p>
        </form>
      </div>
    </main>  
      
</body>
</html>