<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al sistema</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
</head>
<body style="background-image: url('/static/LogoPacientes.jpg')">
    <main>

    <div class="container">
        <h1>Registro de evidencias</h1>
        <form action="/GuardarEvidencias" enctype="multipart/form-data" method="post" id="formEvidencias">
          <div class="form-group">
            <label for="Documento">Numero de Documento:</label>
            <input type="text" class="form-control" id="Documento" placeholder="Ingrese su numero de Documento" name="Documento">
          </div> 
          <div class="form-group">
            <label for="evd">Adjunte su Evidencia</label>
            <input type="file" class="form-control" name="evidencia" id="evd"> 
          </div>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </form>
      </div>
    </main>  


</body>
</html>

