<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Evolucion</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script>
        
        function boton(res){
            Documento=document.getElementById("Doc").value;
            if (Documento==""){
                alert("Ingrese todos los valores");                
            }
            else{
                document.getElementById("formConsulEvo").submit();                
            }
        }
      
    </script>
    <style>
        #login{
            border-style: solid;
            border-color: black;
            border-width: thin;
            padding: 10px;
            width: 400px;
            font-family: 'Courier New', Courier, monospace;
            position: absolute;
            left: 35%;
            top: 15%;
            text-align: center;
        }
    </style>
  </head>

  <body>
    <body style="background-image: url('/static/LogoPacientes.jpg')">
      <div id="login">
          <form action="/ConsultarEvolucion" method="post" id="formConsulEvo">
              <img alt="Logo Escuela" height="250" src="/static/Logo3.jpg" width="250">
              <!-- <p class="parrafo">Usuario  : <input type="text" name="usuario" id="usuario"></p> -->
              <p class="parrafo">Documento : <input type="text" name="Documento" id="Doc"></p>
              <p><input type="button" class="boton" value="Ingresar" onclick="boton('{{res}}')"></p>
          </form>
      </div>
  </body>
  </body>


</html>

