<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fisioterapeuta</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image: url('/static/LogoPaginas.jpg');
            background-size: 100%;
        }
        #menu{
            width: 400px;
            position: absolute;
            left: 35%;
            top: 30%;
            box-shadow:5px 5px 5px black;
        }
    </style>
    <script>
        function RegistrarP(){
            window.open('/RegistrarP','_parent');
        }
        function loginPas(){
            window.open('/EvidenciasP','_parent')
        }
    </script>
</head>    
<body style="background-image: url('/static/LogoPaginas.jpg')">
    <div class="card" id="menu">
        <div class="card-header">Menu Principal</div>
        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick="RegistrarP()">Registrar un paciente</button>
            <button type="button" class="btn btn-success" onclick="loginPas()">Consultar Evidencias</button>
        </div>
        <div class="card-footer">Fisioterapeuta</div>
      </div>
</body>
</html>